pysftp==0.2.9
pyOpenSSL==17.3.0
validate_email==1.3
xlrd==1.1.0
humanize==0.5.1
tabulate==0.8.2
numpy==1.15.2
pykml==0.1.3 #para archivos kml de zonas en comercio electronico
shapely==1.6.4 #para ubicar puntos en mapas en comercio electronico
monthdelta==0.9.1 #para terminos de pago
odoorpc==0.7.0 # Necesario para la sincronizacion de productos con el conector
oca.decorators==0.0.1 # Necesario para el modulo pos_pricelist
component==0.0.1 # lo solicita el modulo connector_odoo
