tabulate>=0.8.6 # usado en l10n_ec/models/account_move.py
acme_tiny>=4.1.0 #Usado por el modulo let's encrypt
IPy>=1.0 #Usado por el modulo let's encrypt
pyOpenSSL>=19.1.0 # Usado por l10n_ec de TRESCLOUD
suds-community>=0.8.4 # Usado por l10n_ec de TRESCLOUD
firebase-admin>=4.4.0 # Usado por TRESCLOUD
